#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%h2 How it Works
		%p Williamsburg neutra schlitz direct trade lumbersexual church-key, vape semiotics. Fixie PBR&B tumeric kombucha you probably haven't heard of them, jianbing normcore wayfarers tousled direct trade meditation. Synth seitan twee messenger bag banh mi. Occupy kogi vaporware lyft. Readymade art party butcher, flannel shoreditch beard you probably haven't heard of them distillery selfies vegan irony. Retro butcher lo-fi, bushwick selfies succulents blue bottle tilde farm-to-table subway tile marfa asymmetrical small batch bitters pitchfork. Mlkshk kitsch put a bird on it hexagon.
		%button= link_to "Sign Up!", new_user_registration_path

%footer
	%p Kate Norquay
