#notes {
	.note {
		background: $white;
		width: 30%;
		min-height: 150px;
		margin: 1rem 1%;
		padding: 1.5rem 2.5%;
		float: left;
		border-radius: .4rem;
		position: relative;
		border: 2px solid $light_gray;
		.title {
			@include other_font;
			color: $dark_gray;
			margin: 0;
			letter-spacing: 1px;
		}
		.date {
			position: absolute;
			bottom: .25rem;
			left: 8.5%;
			color: $dark_gray;
			font-size: .85rem;
		}
	}
}

#note_show {
	.title {
		@include other_font;
		font-size: 2.5rem;
		margin-bottom: 1.25rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #E9E9E9;
	}
	p {
		font-size: 1.375rem;
		line-height: 1.75;
	}
	.buttons {
		margin-top: 3rem;
	}
}
